{% extends 'base.html.twig' %}

{% block title %}

About page

{% endblock %}

{% block body %}

<h1>{{ 'This project it\'s exactly what you need'|trans|raw }}</h1>

Killsoft. {{ 'All rights reserved'|trans|raw }}.

{% endblock %}